body {
    width: 1000px;
    margin: 0 auto;
}

#head {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-top: 15px;
    margin-bottom: 130px;
}

#head figure {
    display: grid;
    grid-template-columns: 30px 30px auto;
    margin: 0;
}

#head figure img {
    width: 30px;
    height: 30px;
}

#head figure figcaption {
    color: #3e3f43;
    font-size: 24px;
    font-weight: normal;
    font-family: Nunito;
    margin-left: 10px;
}

#head nav {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    align-items: center;
}

#head nav a {
    text-decoration: none;
    color: #222222;
    font-family: Nunito;
    font-size: 16px;
}

#head nav a.active {
    color: #daa520;
    font-weight: bold;
}

#head nav a.button {
    text-transform: uppercase;
    font-weight: bold;
    border: 1px solid #3e3f43;
    border-radius: 8px;
    width: 137px;
    height: 40px;
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
}

section#main {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

section#main div span {
    color: #222222;
    font-family: Nunito;
    font-size: 36px;
}

section#main div h1 {
    color: #313235;
    font-family: Nunito;
    font-weight: bold;
    font-size: 72px;
}

.aButtonTemplate {
    font-family: Nunito;
    font-weight: bold;
    font-size: 16px;
    color: white;
    border: none;
    border-radius: 4px;

    height: 50px;
    text-align: center;
    text-decoration: none;
    display: block;
    background-color: #daa520;
    line-height: 50px;
}

.expFur {
    width: 175px;
}

.bigHeader {
    display: grid;
    height: 100px;
    grid-template-rows: 1fr;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    margin: 120px 0px 80px 0px;
}

.bigHeader > .bigHeaderImgContainer {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 30px auto;
    align-items: center;
    grid-row: 1/4;
}

.bigHeader > .bigHeaderImgContainer > .bigHeaderImg {
    width: 30px;
    height: 30px;
}

.bigHeader > .bigHeaderImgContainer > .bigHeaderText1 {
    font-family: Nunito;
    font-weight: 700;
    font-size: 36px;
    margin: 0px 14px;
    color: rgba(62, 63, 67, 1);
}

.bigHeader > .line {
    width: 100%;
    box-sizing: border-box;
    background-color: black;
}

.bigHeader > .bigHeaderText2 {
    font-family: Nunito;
    font-weight: 800;
    font-size: 72px;
    color: rgba(34, 34, 34, 0.1);
    grid-row: 1/4;
    grid-column: 3/4;
}

section#about #imgContainer {
    display: grid;
    box-sizing: border-box;
    grid-template-columns: 30px auto;
    align-items: center;
    grid-row: 1/4;
}

section#about #firstArticle {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: start;
}

section#about #firstArticle #imgContainer {
    align-items: start;
}

section#about #firstArticle #imgContainer #bowlImg {
    width: 388px;
    z-index: 1;
    align-self: end;
}

section#about #firstArticle #imgContainer #rectImg {
    height: 400px;
    z-index: 0;
}

section#about #firstArticle #text {
    grid-column: 2/3;
    align-self: center;
}

section#about #secondArticle {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr;
    align-items: center;
}

section#about .headerText {
    font-family: Nunito;
    font-size: 36px;
    color: rgba(62, 63, 67, 1);
}

section#about .contentText {
    font-family: Nunito;
    font-size: 24px;
    font-weight: 600;
    color: rgba(0, 0, 0, 1);
}

section#about #secondArticle img {
    justify-self: end;
}

section#how #content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 80px;
}
section#how #content .imageCont {
    margin: 0px auto;
}

section#how #content .imageCont img {
    width: 238;
}

section#how #content .imageCont p {
    font-family: Nunito;
    font-size: 24px;
    font-weight: 700;
    margin: 0px;
    text-align: center;
}

.getPersNow {
    width: 212px;
    margin: 0px auto;
}
