body {
    width: 1000px;
    margin: 0 auto;
}

#head {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-top: 15px;
    margin-bottom: 130px;
    align-items: center;
}

.figure {
    display: grid;
    grid-template-columns: 30px auto;
    margin: 0;
}

.figureImage {
    width: 30px;
    height: 30px;
}

.figureText {
    color: #3e3f43;
    font-size: 24px;
    font-weight: normal;
    font-family: Nunito;
    margin-left: 10px;
}

#head nav {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    align-items: center;
}

#head nav a {
    text-decoration: none;
    color: #222222;
    font-family: Nunito;
    font-size: 16px;
}

#head nav a.active {
    color: #daa520;
    font-weight: bold;
}

.aButtonClear {
    text-transform: uppercase;
    font-weight: bold;
    border: 1px solid #3e3f43;
    border-radius: 8px;
    width: 137px;
    height: 40px;
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
}

section#main {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

section#main div span {
    color: #222222;
    font-family: Nunito;
    font-size: 36px;
}

section#main div h1 {
    color: #313235;
    font-family: Nunito;
    font-weight: bold;
    font-size: 72px;
}

.aButtonTemplate {
    font-family: Nunito;
    font-weight: bold;
    font-size: 16px;
    color: white;
    border: none;
    border-radius: 4px;
    height: 50px;
    text-align: center;
    text-decoration: none;
    display: block;
    background-color: #daa520;
    line-height: 50px;
}

.expFur {
    width: 175px;
}

.bigHeader {
    display: grid;
    height: 100px;
    grid-template-rows: 1fr;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    margin: 120px 0px 80px 0px;
}

.bigHeader > .bigHeaderImgContainer {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 30px auto;
    align-items: center;
    grid-row: 1/4;
}

.bigHeader > .bigHeaderImgContainer > .bigHeaderImg {
    width: 30px;
    height: 30px;
}

.bigHeader > .bigHeaderImgContainer > .bigHeaderText1 {
    font-family: Nunito;
    font-weight: 700;
    font-size: 36px;
    margin: 0px 14px;
    color: rgba(62, 63, 67, 1);
}

.line {
    width: 100%;
    box-sizing: border-box;
    background-color: black;
}

.bigHeader > .bigHeaderText2 {
    font-family: Nunito;
    font-weight: 800;
    font-size: 72px;
    color: rgba(34, 34, 34, 0.1);
    grid-row: 1/4;
    grid-column: 3/4;
}

section#about #imgContainer {
    display: grid;
    box-sizing: border-box;
    grid-template-columns: 30px auto;
    align-items: center;
    grid-row: 1/4;
}

section#about #firstArticle {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: start;
}

section#about #firstArticle #imgContainer {
    align-items: start;
}

section#about #firstArticle #imgContainer #bowlImg {
    width: 388px;
    z-index: 1;
    align-self: end;
}

section#about #firstArticle #imgContainer #rectImg {
    height: 400px;
    z-index: 0;
}

section#about #firstArticle #text {
    grid-column: 2/3;
    align-self: center;
}

section#about #secondArticle {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr;
    align-items: center;
}

section#about .headerText {
    font-family: Nunito;
    font-size: 36px;
    color: rgba(62, 63, 67, 1);
}

section#about .contentText {
    font-family: Nunito;
    font-size: 24px;
    font-weight: 600;
    color: rgba(0, 0, 0, 1);
}

section#about #secondArticle img {
    justify-self: end;
}

section#how #content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 80px;
}
section#how #content .imageCont {
    margin: 0px auto;
}

section#how #content .imageCont img {
    width: 238;
}

section#how #content .imageCont p {
    font-family: Nunito;
    font-size: 24px;
    font-weight: 700;
    margin: 0px;
    text-align: center;
}

.getPersNow {
    width: 212px;
    margin: 0px auto;
}

section#categories #container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 40px 56px;
}

section#categories #container .instance {
    display: grid;
    box-sizing: border-box;
    grid-template-rows: 24px auto 1fr auto 24px;
    grid-template-columns: 16px 1fr 16px;
}

section#categories #container .instance .buttonCategory {
    display: inline;
    width: 140px;
    height: 40px;
    font-family: Nunito;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    margin: 0px;
    color: #222222;
    line-height: 40px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #3e3f43;
    border-radius: 8px;
    z-index: 5;
    grid-row: 4/5;
    grid-column: 2/3;
    justify-self: center;
    margin-left: 50px;
}

section#categories #container .instance .catImg {
    grid-column: 1/3;
    grid-row: 1/6;
    z-index: 1;
}

section#categories #container .instance .catName {
    font-family: Nunito;
    font-size: 24px;
    font-weight: 800;
    z-index: 5;
    justify-self: start;
    margin: 0px;
    margin-right: 16px;
    grid-row: 2/3;
    grid-column: 2/3;
}

section#testimony #container {
    display: grid;
    grid-template-columns: 2fr 2fr 3fr;
    grid-template-rows: 1fr auto auto;
}

section#testimony {
    margin-bottom: 120px;
}

section#testimony #container .image {
    border-radius: 35% 0px;
    grid-row: 1/3;
}

section#testimony #container .firstImg {
    grid-column: 1/2;
}

section#testimony #container .secondImg {
    grid-column: 2/3;
}

section#testimony #container #textContent {
    display: grid;
    grid-template-rows: 1fr auto 2fr auto 1fr;
    grid-template-columns: 1fr 22fr 1fr;
    border: 1px solid #a8dcec;
    border-radius: 0% 20% 0% 20%;
    grid-column: 3/4;
    grid-row: 1/2;
    height: auto;
}

section#testimony #container #textContent #stars {
    grid-column: 2/3;
    grid-row: 2/3;
}

section#testimony #container #textContent .star {
    display: inline-block;
    width: 24px;
    height: 24px;
}

section#testimony #container #textContent #commentText {
    font-family: Nunito;
    font-size: 14px;
    color: rgba(62, 63, 67, 1);
    font-weight: 600;
    grid-row: 3/4;
    grid-column: 2/3;
    margin: 16px 0px;
}

section#testimony #container #textContent #authorBlock {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-row: 4/5;
    grid-column: 2/3;
}

section#testimony #container #textContent #authorBlock #authorImage {
    width: 40px;
    border-radius: 100%;
    grid-row: 1/3;
}

section#testimony #container #textContent #authorBlock p {
    margin: 0px 0px 0px 10px;
    font-family: Nunito;
    font-weight: 600;
    font-size: 12px;
    color: rgba(175, 175, 175, 1);
    grid-column: 2/3;
}

section#testimony #container #textContent #authorBlock #name {
    grid-row: 1/2;
    align-self: end;
}

section#testimony #container #textContent #authorBlock #office {
    grid-row: 2/3;
    align-self: start;
}
section#testimony #container #arrowContainer {
    margin-top: 20px;
    grid-row: 2/3;
    grid-column: 3/4;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

section#testimony #container #arrowContainer .arrContainer .arrText {
    display: inline;
    margin: 0px;
    font-family: Nunito;
    font-size: 14px;
    font-weight: 600;
}

section#testimony #container #arrowContainer .arrContainer .arrLeftText {
    color: rgba(196, 196, 196, 1);
}

section#testimony #container #arrowContainer .arrContainerLeft {
    justify-self: start;
}

section#testimony #container #arrowContainer .arrContainerRight {
    justify-self: end;
}

section#testimony #container #comNavCont {
    grid-row: 3/4;
    grid-column: 3/4;
    display: grid;
    grid-template-columns: 4fr 1fr 1fr 1fr 1fr;
    justify-items: end;
    margin-top: 25px;
}

section#testimony #container #comNavCont .commentPos {
    width: 40px;
    height: 8px;
    border-radius: 8px;
    background: rgba(229, 229, 229, 1);
}

section#testimony #container #comNavCont .active {
    background: rgba(218, 165, 32, 1);
}

section#subNews {
    margin-bottom: 90px;
}

section#subNews #container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

section#subNews #container #subsContainer {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
}

section#subNews #container #subsContainer .subButt {
    display: inline-block;
    line-height: 40px;
    font-size: 16px;
    font-weight: 600;
    width: 120px;
    height: 40px;
    margin: 0px;
    border-radius: 0px 4px 4px 0px;
}

section#subNews #container #subsContainer #emailInput {
    box-sizing: border-box;
    padding: 0px 0px 0px 16px;
    margin: 0px;
    font-family: Nunito;
    font-size: 16px;
    font-weight: 400;
    height: 40px;
    border-radius: 4px 0px 0px 4px;
    border: 1px solid #daa520;
}

section#subNews #container #textContainer .subNewstext {
    font-family: Nunito;
    font-size: 18px;
    margin: 0px;
}
section#subNews #container #textContainer #bigText {
    font-weight: 700;
}

footer #container {
    display: grid;
    grid-template-columns: 8fr 1fr;
}

footer #container #linksCont {
    grid-column: 1/2;
    grid-row: 1/2;
    display: grid;
    grid-template-rows: auto auto 1fr 1fr 1fr 3fr;
    grid-template-columns: auto 1fr 1fr 1fr 1fr;
    column-gap: 25px;
}

footer #container #linksCont #line2 {
    box-sizing: border-box;
    border: 1px solid rgba(196, 196, 196, 1);
    height: 0px;
    grid-column: 1/6;
    background-color: rgba(196, 196, 196, 1);
    align-self: start;
    margin-top: 0px;
}

footer #container #imageCont {
    height: auto;
    grid-column: 2/3;
}

footer #container #imageCont #image {
    height: 300px;
}

footer #container #linksCont .header {
    font-family: Nunito;
    font-size: 18px;
    font-weight: 600;
    color: rgba(51, 51, 51, 1);
    margin: 0px;
    align-self: center;
}

footer #container #linksCont .simple {
    display: inline;
    font-family: Nunito;
    font-size: 14px;
    font-weight: 400;
    color: rgba(141, 141, 141, 1);
    margin: 0px;
    align-self: center;
}

footer #container #copyright {
    display: inline;
    font-family: Nunito;
    font-size: 12px;
    font-weight: 600;
    color: rgba(141, 141, 141, 1);
    margin: 0px;
    justify-self: center;
    align-self: center;
    grid-row: 6/7;
    grid-column: 1/6;
}
